<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Домашняя страница</title>
  <script src="/js/home.js" defer></script>
</head>
<body>
<h1 id="welcome-message">Добро пожаловать!</h1>
<h2 id="rating-message">Ваш рейтинг: -</h2>
<div id="button-container">
  <button id="create-game">Создать игру</button>
  <button id="join-game">Присоединиться к игре</button>
  <button id="game-history">История игр</button>
  <button id="leaderboard">Таблица рейтинга</button>
  <button id="create-tournament">Создать турнир</button>
  <button id="join-tournament">Присоединиться к турниру</button>
  <button id="logout">Выйти</button>
</div>
<div id="message"></div>
</body>
</html>
